:host {
  position: sticky;
  top: 0;
}

nav {
  min-height: 100%;
  display: flex;

  > ol {
    margin-left: auto;

    display: flex;

    font-family: "Varela Round", sans-serif;

    > li {
      > a {
        padding-left: 10px;
        padding-right: 10px;
        min-height: 100%;
        display: flex;
        align-items: center;
        background: blue;
      }
    }
  }
}
