<home-displays></home-displays>

<ng-container *ngIf="countries$ | async as countries">
  <section class="wrapper" home-batch>
    <div class="country" *ngFor="let country of countries.copy">
      <div class="country-image">
        <img [src]="country.flag" [alt]="'flag of ' + country.name" />
      </div>
      <h6>{{ country.name }}</h6>
      <dl class="info-list">
        <dt>capital</dt>
        <dd>{{ country.capital }}</dd>
        <dt>population</dt>
        <dd>{{ country.population | number }}</dd>
        <dt>demonym</dt>
        <dd>{{ country.demonym }}</dd>
      </dl>
    </div>
  </section>
  <div *ngIf="!countries.end" class="wrapper loader"></div>
</ng-container>
