a {
  color: #fff;
  &.active {
    color: #23527c;
    &::before {
      content: "";
      position: absolute;
      $length: 0px;
      width: calc(100% + #{$length});
      min-height: calc(100% + #{$length});
      background-color: #edf1f7;
      background-image: linear-gradient(
        to bottom,
        #edf1f7 0%,
        #d5dae0 50%,
        #a0a3a8 100%
      );
      box-shadow: 0 0 1px 1.6px #2c497e;
      z-index: 0;
    }
  }
  &:hover {
    &::before {
      content: "";
      position: absolute;
      $length: 5px;
      width: calc(100% + #{$length});
      min-height: calc(100% + #{$length});
      background-color: #edf1f7;
      background-image: linear-gradient(
        to bottom,
        #edf1f7 0%,
        #d5dae0 50%,
        #a0a3a8 100%
      );
      box-shadow: 0 0 1px 1.6px #2c497e;
      z-index: 0;
    }
  }
  &:active {
    color: #23527c;
  }
}
