:host {
  display: flex;
  width: 400%;

  animation: slider 9s infinite;
}

$total: 3;
$translate: 100% / ($total + 1);
$pause: 90% / ($total);
$slide: 10% / ($total);
$current: 0%;
@keyframes slider {
  @for $i from 1 through $total {
    @if $i - 1 == 0 {
      #{$current} {
        transform: translateX(0);
      }
    }
    $current: $current + $pause !global;
    #{$current} {
      transform: translateX($translate * -($i - 1));
    }

    @if $i < $total {
      $current: $current + $slide !global;
      #{$current} {
        transform: translateX($translate * -$i);
      }
    } @else {
      100% {
        transform: translateX($translate * -$i);
      }
    }
  }
}
// @keyframes slider {
//   0% {
//     transform: translateX(0);
//   }
//   30% {
//     transform: translateX(0);
//   }
//   33% {
//     transform: translateX(-25%);
//   }
//   63% {
//     transform: translateX(-25%);
//   }
//   66% {
//     transform: translateX(-50%);
//   }
//   96% {
//     transform: translateX(-50%);
//   }
//   100% {
//     transform: translateX(-75%);
//   }
// }
