$header-height: 150px;
$navbar-height: 60px;
$min-height: 100vh;

:host {
  min-height: $min-height;

  display: grid;
  grid-template-columns: minmax(auto, calc(var(--W) * 1px));
  grid-template-rows:
    minmax($header-height, auto)
    minmax($navbar-height, auto)
    minmax(calc(#{$min-height} - #{$header-height + $navbar-height}), auto)
    minmax(150px, auto);

  justify-content: center;
}

layout-content {
  background: blue;
}

layout-footer {
  background: yellow;
}
